@keyframes move {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: 20px 0px;
  }
  100% {
    background-position: 40px 0px;
  }
}

.progress {
  width: 100%;
  background-color: #f7d600;

  /* YELLOW stripes */
  background-image: linear-gradient(
    -45deg,
    #000 25%,
    #f7d600 25%,
    #f7d600 50%,
    #000 50%,
    #000 75%,
    #f7d600 75%,
    #f7d600
  );

  background-size: 40px 40px;
  height: 40px;

  animation: move 1s linear infinite;
}

.progress:active {
  width: 100%;
  transition: width 1s ease-in;
}
