@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.selected-language-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .form-control {
    padding: 4px 6px;
    border: 2px solid var(--color-blue-600);
    border-radius: 100vh;
  }
}
